body {
    background-color: whitesmoke;
    text-align: left;
}
form {
    align-content: center;
    display: inline-block;
    margin-top: 200px;
    white-space: nowrap;
}

input[type=text] {
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 30px;
}
input[type=password] {
    display: inline-block;
    width: 200px;
    float: left;
    margin-left: 30px;
}

img.block-left {
    width: 100px;
    margin-left: 250px;
    margin-bottom: 10px;
}
img.block-right {
    width: 600px;
    height: 600px;
}

img.block-right:hover {
    transform: scale(1.2);
}
