@{
    ViewData["Student Title"] = "About";
}
<h2>@ViewData["Student Title"]</h2>
<h3>@ViewData["Message"]</h3>
<ul>
    <li>This is first</li>
    <li>This is second</li>
</ul>

<p>Use this area to provide additional information.</p>
