@model Moon.Entities.Files

@{
    ViewData["Title"] = "Create Post";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        #errorEmptyBoxes {
            display: none;
        }
    </style>
</head>
<body>
    <div class="alert alert-danger alert-dismissible" id="errorEmptyBoxes">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Failed!</strong> Please fill all necessary fields.
    </div>
    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" id="title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Course Code</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.CourseCode, ViewBag.CourseCode as SelectList, "select course code", htmlAttributes: new { @class = "form-control", @id = "courseSec", @onchange = "select()" })
                        <span asp-validation-for="CourseCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Course Code</label>
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Category, ViewBag.Category as SelectList, "select category", htmlAttributes: new { @class = "form-control", @id = "category" })
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Lecturer</label>
                    <input asp-for="Lecturer" class="form-control" id="lecturer" />
                    <span asp-validation-for="Lecturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload File</label>
                    <input class="form-control" name="formFile" type="file" id="file" />
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" onclick="return validateForm()" value="Upload" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script type="text/javascript">
        function validateForm() {
            var title = document.getElementById("title").value;
            var course = document.getElementById("courseSec").value;
            var category = document.getElementById("category").value;
            var lecturer = document.getElementById("lecturer").value;

            if (title == "" || course == "" || category == "" || lecturer == ""
                || document.getElementById("file").files.length == 0) {
                $('#errorEmptyBoxes').show();
                return false;
            }
        }
    </script>
    <script>
        function select() {
            var courseCode = $('#courseSec').val();
            $.ajax({
                url: '/Student/CourseCategoryDrop?id=' + courseCode,
                type: "POST",
                dataType: "JSON",
                data: { CourseCode: courseCode },
                success: function (categories) {
                    $("#category").html("");
                    $.each(categories, function (i, category) {
                        $("#category").append(
                            $('<option></option>').val(category).html(category));
                    });
                }
            });
        }
    </script>
</body>
</html>
