img{
    margin-top: 40px;
    width: 200px;
    float: right;
}

.column {
    height: 500px;
}

.column-down {
    margin-top: 100px;
    float: initial;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
label {
    margin-left: 20px;
    font-family: Arial;
}

#dtable {
    margin-top: 50px;
    width: 100%;
    border-collapse: separate;
    border: solid black 1px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#courseSec{
    display: inline-block;
    width: 200px;
}

#GroupValue{
    display: inline-block;
    margin-top: 5px;
    width: 200px;
}

input {
    margin-top: 5px;
    width: 100px;
}

input[type=submit] {
    border: none;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

#ftable {
    width: 500px;
    border-collapse: separate;
    border: solid black 1px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}