body {
    text-align: center;
    background-color: whitesmoke;
}

img {
    width: 150px;
    margin-bottom: 50px;
}

form {
    align-content: center;
    display: inline-block;
    margin-top: 200px;
    white-space: nowrap;
}

input[type=text] {
    margin-left: 30px;
    width: 210px;
}

input[type=password] {
    margin-left: 30px;
    width: 210px;
}
input[type=submit] {
    margin-left: 120px;
}

input[type=button] {
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35px;
}
