
@{
    ViewData["Title"] = "Calendar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>
    <img src="~/StudentStyles/images/academic-calendar.jpeg" />
</body>
</html>
