
@{
    ViewData["Title"] = "Confirm Email";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <br />
    @TempData["Message"]
</body>
</html>
