@model Moon_.Models.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link rel="stylesheet" href="~/StudentStyles/css/addStudent.css" type="text/css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="block-left">
        <img class="block-left" src="~/StudentStyles/images/add icon.jpg" />
    </div>
    <div class="block-right">
        <img class="block-right" src="~/StudentStyles/images/ytulogopng.png" />
    </div> 
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" class="form-horizontal" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="name" class="text-danger"></span>
                        <input asp-for="name" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Surname</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="surname" class="text-danger"></span>
                        <input asp-for="surname" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="id" class="text-danger"></span>
                        <input asp-for="id" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Department</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="department" class="text-danger"></span>
                        <input asp-for="department" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="password" class="text-danger"></span>
                        <input asp-for="password" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        <input asp-for="confirmPassword" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="email" class="text-danger"></span>
                        <input asp-for="email" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    </script>
    </body>
</html>
